.App {
  text-align: center;
  background-color: #ececec;
  min-height: 100vh;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}
